* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Table Styles */
.table-wrapper {
    margin: 15px 0; /* Remove side margins to make it full width */
    width: 100%; /* Ensure the wrapper takes full width */
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
    overflow-x: auto; /* Allow horizontal scrolling */

  
}

.fl-table {
    border-radius: 5px;
    font-size: 14px; /* Increased font size */
    border: none;
    border-collapse: collapse;
    width: 100%; /* Full width */
    background-color: white;
}

    .fl-table td,
    .fl-table th {
        text-align: center;
        padding: 10px; /* Adjusted padding for better spacing */
    }

    .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 14px; /* Increased font size */
    }

    .fl-table thead th {
        color: #ffffff;
        background: #324960; /* Header background color */
        font-size: 15px; /* Slightly larger font size for headers */
    }

        .fl-table thead th:nth-child(odd) {
            background: #324960; /* Maintain header background for odd columns */
        }

    .fl-table tr:nth-child(even) {
        background: #F8F8F8; /* Zebra striping for even rows */
    }

/* Responsive Table */
@media (max-width: 767px) {
    .table-wrapper {
        padding: 0 10px; /* Add some padding */
    }

    .fl-table {
        display: block;
        width: 100%;
        overflow-x: auto; /* Enable horizontal scrolling */
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: #324960; /* Change to match the header */
        padding: 0 0 10px;
    }

    .fl-table thead,
    .fl-table tbody {
        display: block;
    }

        .fl-table thead th:last-child {
            border-bottom: none;
        }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
        padding: 20px .625em; /* Adjusted padding */
        height: 60px; /* Set fixed height for cells */
        vertical-align: middle;
        text-overflow: ellipsis;
        overflow: hidden; /* Hide overflowing text */
        white-space: nowrap; /* Prevent text wrapping */
    }

    .fl-table thead th {
        text-align: left; /* Left align header text */
        border-bottom: 1px solid #f7f7f9; /* Header bottom border */
    }

    .fl-table tbody tr {
        display: table-cell; /* Keep rows as table cells */
    }

        .fl-table tbody tr:nth-child(odd) {
            background: none; /* Remove odd row background */
        }

    .fl-table tbody td {
        display: block; /* Make each cell a block element */
        text-align: center; /* Center align text */
    }
}
