@page
@model RazorPagesMovie.Pages.BeverageData.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Beverage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Beverage.BeverageName" class="control-label"></label>
                <input asp-for="Beverage.BeverageName" class="form-control" />
                <span asp-validation-for="Beverage.BeverageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beverage.BeverageCode" class="control-label"></label>
                <input asp-for="Beverage.BeverageCode" class="form-control" />
                <span asp-validation-for="Beverage.BeverageCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beverage.BeverageDescription" class="control-label"></label>
                <input asp-for="Beverage.BeverageDescription" class="form-control" />
                <span asp-validation-for="Beverage.BeverageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beverage.Price" class="control-label"></label>
                <input asp-for="Beverage.Price" class="form-control" />
                <span asp-validation-for="Beverage.Price" class="text-danger"></span>
            </div>
           


            <div class="form-group">
                <label asp-for="Beverage.IsAvailable" class="control-label">Is Available? </label>
                <select asp-for="Beverage.IsAvailable" class="form-control">
                    <option value="1">Yes</option>
                    <option value="0">No</option>

                </select>
                <span asp-validation-for="Beverage.IsAvailable" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
