@page
@model RazorPagesMovie.Pages.Rooms.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Room.Id" />
            <div class="form-group">
                <label asp-for="Room.RoomNo" class="control-label"></label>
                <input asp-for="Room.RoomNo" class="form-control" />
                <span asp-validation-for="Room.RoomNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.RoomType" class="control-label"></label>
                <select asp-for="Room.RoomType" class="form-control">
                    <option value="1">Standard Double</option>
                    <option value="2">Standard Triple</option>
                    <option value="3">Deluxe A/C Double</option>
                    <option value="4">Deluxe A/C Triple</option>
                    <option value="5">Deluxe A/C Double Sea View Common Balcony</option>
                    <option value="6">Deluxe A/C Triple Sea View Common Balcony</option>
                    <option value="7">Deluxe A/C Double Sea View Private Balcony</option>
                    <option value="8">Deluxe A/C Triple Sea View Private Balcony</option>

                </select>
                <span asp-validation-for="Room.RoomType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Price" class="control-label"></label>
                <input asp-for="Room.Price" class="form-control" />
                <span asp-validation-for="Room.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.BedsCount" class="control-label"></label>
                <input asp-for="Room.BedsCount" class="form-control" />
                <span asp-validation-for="Room.BedsCount" class="text-danger"></span>
            </div>

              <div class="form-group">
                <label asp-for="Room.IsAvailable" class="control-label">Is Available? </label>
                <select asp-for="Room.IsAvailable" class="form-control">
                    <option value="1">Yes</option>
                    <option value="0">No</option>

                </select>
                <span asp-validation-for="Room.IsAvailable" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
