@page
@model RazorPagesMovie.Pages.FoodData.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Food</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Food.FoodName" class="control-label"></label>
                <input asp-for="Food.FoodName" class="form-control" />
                <span asp-validation-for="Food.FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.FoodCode" class="control-label"></label>
                <input asp-for="Food.FoodCode" class="form-control" />
                <span asp-validation-for="Food.FoodCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Food.FoodType" class="control-label">Type </label>
                <select asp-for="Food.FoodType" class="form-control">
                    <option value="1">Food</option>
                    <option value="2">Beverage</option>

                </select>
                <span asp-validation-for="Food.FoodType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Food.FoodDescription" class="control-label"></label>
                <input asp-for="Food.FoodDescription" class="form-control" />
                <span asp-validation-for="Food.FoodDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Price" class="control-label"></label>
                <input asp-for="Food.Price" class="form-control" />
                <span asp-validation-for="Food.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.PriceUSD" class="control-label"></label>
                <input asp-for="Food.PriceUSD" class="form-control" />
                <span asp-validation-for="Food.PriceUSD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.IsAvailable" class="control-label">Is Available? </label>
                <select asp-for="Food.IsAvailable" class="form-control">
                    <option value="1">Yes</option>
                    <option value="0">No</option>

                </select>
                <span asp-validation-for="Food.IsAvailable" class="text-danger"></span>
            </div>


          


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
